body{
    background:linear-gradient(20deg, rgba(164, 196, 164, 0.926), rgba(100, 125, 101, 0.904), rgb(157, 155, 155)), url(./Banana/Banana-Island-Ikoyi-107-close-1.jpg);
    display: block;
}
.images{
    display: inline-flex;
    width: 24%;
    clear:right;
}

#logo{
    float: left;
    display: inline;
    width: 20%;
}


.description{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(47, 72, 1);
}


a{
    color: #edb009;
    width: auto;
    text-decoration: none;
}

.li{
   display: inline-block;
   width:13% ;
   font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lin{
   display: inline-block;
   width:max-content ;
   padding:0 5px;
   font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   box-sizing: border-box;
   border-radius:20px;
   background-color: rgb(10, 75, 0);
   color: rgb(192, 216, 146);
   font-weight: 400;
   text-align: center;
   margin: 0 1%;
   
}



.directories{
  

padding-bottom: 5%;
padding-top: 3%;
}




.body{
display: block;
background: linear-gradient(20deg,rgba(0, 128, 0, 0.57),rgba(0, 178, 0, 0.413), grey), url(./Banana/Banana-Gate-1.jpg) center;

}

.overview{
font-size: 24px;
line-height: 27px;
color: #e9bc42f7;
display: inline-block;
width: 30%;

}

.CONTACT{
float: right;

width: auto;
margin-top: -43%;
}

.contact{
    color:#edb009;
    
    font-size: 34px;
    font-family:'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
}