#logo {
    float: left;
    display: inline;
    width: 20%;
    
}

.li {
    display: inline-block;
    width: 13%;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.body {
    display: block;
    background: linear-gradient(20deg, rgba(0, 128, 0, 0.57), rgba(0, 178, 0, 0.413), grey), url(./Banana/Banana-Gate-1.jpg) center;
    margin-left: -3%;
    margin-right:-3%;

}

.directories {


    padding-bottom: 5%;
    padding-top: 3%;
    margin-top: -1%;
    
}
.apartment{
    background-color: rgba(7, 85, 7, 0.81);
   border-radius: 36px;
   box-sizing: border-box;
  width: 70%;
    
}


#link{
    width: 25rem;
    border-radius: 10%;
    color: rgba(38, 35, 35, 0.364);
transition: .5s ;

    
}

#link:hover{
    opacity: 0.8;
    color: rgba(0, 0, 0, 0.807);
}

#link::before{
    content: "Abodes Rustenburg";
    position:absolute;
    color: #805f04;
    box-sizing: border-box;
    border: #edb009 2px solid;
  text-align: center;
    font-size: 27px;
    margin-top: 15rem;
    margin-left: 7px;
    border-radius: 9px;
    padding: 2px 7px;
    width: 17rem;
    
   
    
}


#description{
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #edb009;
    padding-bottom: 35px;
    margin-top: -15px;
}