body{
    background-image: url(./29866790268_d29d0c6832_b.jpg);
    background-size: 100%;

}

.directories{
background: rgba(128, 128, 128, 0.71);
border-radius: 50%;
box-sizing: border-box;
padding: 5% 2.5% 5% 2.5%;
margin: 0 43.5%;
text-align: center;
font-size: 1rem;
display:block;
color:aliceblue;
transition: background  0.6s ;
text-decoration: none;
}

.directories:hover {
    background: rgb(58, 173, 45);
    box-shadow: rgba(226, 223, 211, 0.744) 4px 2px 50px 5px;
    text-decoration: none;
}

a:visited {
    color: #edb009;
    background-color: transparent;
    text-decoration: none;
}
.review{
    color: #edb009;
}
textarea{
  background-color: rgba(128, 128, 128, 0.9);
  font-size: 20PX;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  color: antiquewhite;

}
.ppties{
    font-size: 3rem;
    font-weight: 900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: beige;
    width: 30%;
}

.CONTACT-US{
    background: rgba(78, 77, 77, 0.981);
    text-align: center;
    color: rgba(250, 235, 215, 0.667);
    border-left: #edb009  solid 6px;
    border-top: solid #edb009 6px;
    border-right: solid #edb009 6px;;
    border-bottom:rgba(78, 77, 77, 0.968) solid 3px ;
    margin-left: -0.58%;
    margin-right: -0.58%;
    margin-bottom: -1.5%;
   
   
}
.contact-us{
   display: inline-block;
 
}
.about{
    float:left;
    width: 30%;

}
.follow{
    float: right;
    display: block;
}
button{
    color: #edb009;
    box-sizing: border-box;
    border-radius: 9px;
}
input{
    width: 200px;
    height: 25px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(23, 23, 111, 0.913);
    font-weight: 600;
}
