html{
    background-image: url(./29866790268_d29d0c6832_b.jpg);
    background-size: 100%;

}
img{
    width: 20%;
}

.directories{
background: rgba(128, 128, 128, 0.71);
border-radius: 50%;
box-sizing: content-box;
padding: 67px 7.5px;
max-width: 12rem;
text-align: center;
font-size:medium;
margin-left: 45%;
display:block;
color:aliceblue;
transition: background  0.6s ;
text-decoration: none;
}

.directories:hover {
    background: rgb(58, 173, 45);
    box-shadow: rgba(226, 223, 211, 0.744) 4px 2px 50px 5px;
    text-decoration: none;
}

a:visited {
    color: #edb009;
    background-color: transparent;
    text-decoration: none;
}
a{
    color: #edb009;
    text-decoration: none;
}
.review{
    color: #edb009;
}
textarea{
  background-color: rgba(128, 128, 128, 0.9);
  font-size: 20PX;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  color: antiquewhite;

}
.price{
    font-size: 3rem;
    font-weight: 900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: beige;
    width: 30%;
}
.ppties{
    text-align: center;
    background-color: rgb(68, 255, 47);
    margin-left: 36%;
    box-sizing: content-box;
    width: 26%
}

.CONTACT-US{
    background: rgba(78, 77, 77, 0.981);
    text-align: center;
    color: rgba(250, 235, 215, 0.667);
    border-left: #edb009  solid 6px;
    border-top: solid #edb009 6px;
    border-right: solid #edb009 6px;;
    border-bottom:rgba(78, 77, 77, 0.968) solid 20px ;
    margin-left: -0.58%;
    margin-right: -0.58%;
    margin-bottom: -1.5%;
   
   
}
.contact-us{
   display: inline-block;
 margin-left: -10%;
}
.about{
    float:left;
width: 30%;
}
.follow{
    float: right;
    display: inline-block;
    
}
button{
    color: #edb009;
    box-sizing: border-box;
    border-radius: 9px;
}
input{
    width: 200px;
    height: 25px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(23, 23, 111, 0.913);
    font-weight: 600;
}

@media screen and (max-width: 700px) {
    .directories {
        background: rgba(128, 128, 128, 0.71);
        border-radius: 60%;
        box-sizing: content-box;
       
        text-align: center;
        font-size: medium;
        margin: auto auto auto 41.8%;
        display: block;
        padding: 67px 7.5px;
        max-width: 12rem;
        
    }

    a {
        color: #edb009;
        text-decoration: none;
    }

    .ppties {
        text-align: center;
        background-color: rgb(68, 255, 47);
        margin-left: 32%;
        box-sizing: content-box;
        width: 42%
    }

    .CONTACT-US {
        background: rgba(78, 77, 77, 0.981);
        text-align: center;
        color: rgba(250, 235, 215, 0.667);
        border-left: #edb009 solid 6px;
        border-top: solid #edb009 6px;
        border-right: solid #edb009 6px;
        ;
        border-bottom: rgba(78, 77, 77, 0.968) solid 3px;
        margin-left: -0.58%;
        margin-right: -0.58%;
        margin-bottom: -1.5%;


    }

    .contact-us {
        display: block;
        clear: both;
        margin-left: 1%;
    }

    .about {
        text-align: center;
        width: 70%;
        margin-left: 15.3%;
    }

    .follow {
        text-align: center;
        display: contents;
    }

    a:visited {
        color: #edb009;
        background-color: transparent;
        text-decoration: none;
    }

    a {
        color: #edb009;
    }
}

@media screen and (max-width: 600px) {
    .directories {
        background: rgba(128, 128, 128, 0.71);
        border-radius: 60%;
        box-sizing: content-box;
        padding: 5% 10%;
        max-width: 10%;
        text-align: center;
        font-size: medium;
        margin: auto auto auto 41.8%;
        display: block;
    }

    a {
        color: #edb009;
        text-decoration: none;
    }

    .ppties {
        text-align: center;
        background-color: rgb(68, 255, 47);
        margin-left: 32%;
        box-sizing: content-box;
        width: 42%
    }

    .CONTACT-US {
        background: rgba(78, 77, 77, 0.981);
        text-align: center;
        color: rgba(250, 235, 215, 0.667);
        border-left: #edb009 solid 6px;
        border-top: solid #edb009 6px;
        border-right: solid #edb009 6px;
        ;
        border-bottom: rgba(78, 77, 77, 0.968) solid 3px;
        margin-left: -0.58%;
        margin-right: -0.58%;
        margin-bottom: -1.5%;


    }

    .contact-us {
        display: block;
        clear: both;

    }

    .about {
        text-align: center;
        width: 70%;
        margin-left: 15.3%;
    }

    .follow {
        text-align: center;
        display: contents;
    }

    a:visited {
        color: #edb009;
        background-color: transparent;
        text-decoration: none;
    }

    a {
        color: #edb009;
    }
}

@media screen and (max-width: 1150px) {
    .directories {
        background: rgba(128, 128, 128, 0.71);
        border-radius: 60%;
        box-sizing: content-box;
        padding: 5.6% 4.5%;
        max-width: 9%;
        text-align: center;
        font-size: medium;
        margin: auto auto auto 41.8%;
        display: block;
    }

    a {
        color: #edb009;
        text-decoration: none;
    }

    img {
        width: 35%;
    }

    .price {
        width: 40%;
    }

    .ppties {
        text-align: center;
        background-color: rgb(68, 255, 47);
        margin-left: 32%;
        box-sizing: content-box;
        width: 42%
    }

    .CONTACT-US {
        background: rgba(78, 77, 77, 0.981);
        text-align: center;
        color: rgba(250, 235, 215, 0.667);
        border-left: #edb009 solid 6px;
        border-top: solid #edb009 6px;
        border-right: solid #edb009 6px;
        ;
        border-bottom: rgba(78, 77, 77, 0.968) solid 3px;
        margin-left: -0.58%;
        margin-right: -0.58%;
        margin-bottom: -1.5%;


    }

    .contact-us {
        display: block;
        clear: both;

    }

    .about {
        text-align: center;
        width: 70%;
        margin-left: 15.3%;
    }

    .follow {
        text-align: center;
        display: contents;
    }

    a:visited {
        color: #edb009;
        background-color: transparent;
        text-decoration: none;
    }

    a {
        color: #edb009;
    }
}